<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - AutoPrime</title>
    <link rel="stylesheet" href="../styles/styleslogin.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="../images/logo.jfif" alt="AutoPrime Logo" />
      </div>
      <h1>Bem-vindo ao AutoPrime</h1>
      <div class="login-box">
        <h2>LOGIN</h2>
        <form>
          <input
            type="text"
            placeholder="Usuário"
            required
            aria-label="Usuário"
          />
          <input
            type="password"
            placeholder="Senha"
            required
            aria-label="Senha"
          />
          <input type="submit" value="LOGIN" />
          <div class="forgot-password">
            <a href="recuperarsenha.html">Esqueci minha senha</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
