<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Senha - AutoPrime</title>
    <link rel="stylesheet" href="../styles/stylesesquecisenha.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="../images/logo.jfif" alt="AutoPrime Logo" />
      </div>
      <h1>Recuperação de Senha</h1>
      <div class="recovery-box">
        <h2>Recuperar Senha</h2>
        <form>
          <input
            type="email"
            placeholder="Digite seu e-mail"
            required
            aria-label="E-mail"
          />
          <input type="submit" value="Enviar Instruções" />
          <div class="back-to-login">
            <a href="login.html">Voltar ao Login</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
